body {
    font-family: arial;
    padding: 10px;
    text-align: center;
    min-width: 400px;
}

div {
    display: flex;
    flex-direction: column;
    justify-content: center;
}

form {
    width: 100%;
}

label {
    margin: auto 5px;
}

input {
    width: 130px;
}

#run {
    margin: 15px auto;
    width: 50px;
}

#run:hover {
    box-shadow: 0px 0px 3px 0px darkgray;
    cursor: pointer;
}

table {
    max-width: 100%;
    min-width: 400px;
    margin: 0 auto;
    background-color: grey;
}

td {
    padding: 5px 80px;
    margin: 5px;
    background-color: #fff;
}

.highlight {
    background: lightgreen;
}